body {
    background-image: url(https://epe.brightspotcdn.com/dims4/default/df23b89/2147483647/strip/true/crop/1690x1147+0+0/resize/840x570!/format/webp/quality/90/?url=https%3A%2F%2Fepe-brightspot.s3.amazonaws.com%2Fce%2F91%2F09e14b9b4a4599f60cb1f81cc695%2F26research-column0321-1279374370.jpg);
  text-align: center;
  max-width: 500px;
  text-align: left;
  padding: 40px;
  border: 2px solid black;
  border-radius: 40px;
  input-align: left;
  }
  h1 {
  
  width: auto; 
  
  
  
  
  }
  input {
  vertical-align: bottom;
  top: -1px;
  position: relative;
  padding: o;
  height: 20px;
  margin: 15;
  background-color: white;
  align-items: left;
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  }